@model ASPNETMVCFreeCodeCamp.Models.ItemModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Item Overview</title>
</head>
<body>
<h1>Item values: </h1>
<div>
    <p>Name: @Model.Name</p>
</div>
</body>
</html>